.mission,
.vision,
.team,
.cta {
  max-width: 1400px;
  margin: 0 auto;
  padding: 64px 16px;
}

.mission {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: center;
}

.mission h2 {
  margin-bottom: 2rem;
}

.mission p {
  color: var(--text-primary);
  line-height: 1.6;
}

.mission ul {
  list-style: disc;
  padding-left: 20px;
  color: var(--text-primary);
}

.partners {
  text-align: center;
  text-transform: uppercase;
  margin-top: 80px;
  background-color: var(--primary);
  color: var(--surface);
  min-height: 35rem;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 99.63vw;
  margin-bottom: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.partners .container {
  text-align: center;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.vision {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: center;
  margin-bottom: 80px;
}

.vision h2 {
  margin-bottom: 2rem;
}

.wrapImage {
  position: relative;
  width: 100%;
  height: 300px;
}

.team {
  text-align: center;
}

.teamGrid {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 32px;
}

.teamMember h3 {
  margin-top: 8px;
  color: var(--text-primary);
}

.teamMember p {
  color: var(--text-secondary);
}

.cta {
  text-align: center;
  background-color: var(--primary);
  color: var(--surface);
  padding: 64px 16px;
  border-radius: 16px;
  margin: 64px auto;
}

.cta h2 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.cta p {
  margin-bottom: 24px;
  color: #e5e7eb;
}

.ctaButtons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.buttonPrimary,
.buttonSecondary {
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
}

.buttonPrimary {
  background-color: var(--secondary);
  color: var(--text-primary);
}

.buttonPrimary:hover {
  background-color: #06b6d4;
}

.buttonSecondary {
  background-color: var(--surface);
  color: var(--text-primary);
}

.buttonSecondary:hover {
  background-color: #f3f4f6;
}

.divider {
  background-color: var(--divider);
  height: 1px;
  border: none;
}
