.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
}

.loginCard {
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 400px;
  background-color: var(--surface);
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.error {
  color: var(--error);
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--divider);
  outline: none;
  width: 100%;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot {
  font-size: 0.9rem;
  color: var(--text-secondary);
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.loginBtn {
  background: var(--primary);
  color: var(--surface);
  border: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.registerText {
  text-align: center;
  margin-top: 1rem;
}

.registerLink {
  color: var(--primary);
  text-decoration: none;
}

.registerLink:hover {
  text-decoration: underline;
}
